<!DOCTYPE html>
<html>
    <head>
        <title>demonstrate ng-app</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    

    </head>
    <body>
        <p>ng-app directive defines an AngularJS application</p>    
            <div ng-app="">
            <p>Principle Amount: <input type="text" ng-model="principle"></p>
            <p>Rate of Interest: <input type="text" ng-model="rate"></p>
            <p>Time: <input type="text" ng-model="time"></p>
            <p>Simple Interest: {{principle*rate*time/100}}</p>
            <p ng-if="principle*rate*time/100>100">Interest High</p>
            </div>  
    </body>
</html>