<!DOCTYPE html>
<html >
    <head>
        <title>Learn about ng-app</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>
    <body >
        <div ng-app="">
        <h1>We are going to start the code with ng-app</h1>

        <p>Ex code for SI</p>
        <p>Principle amount: <input type="text" ng-model="Principle"></p>
        <p>Rate of interest: <input type="text" ng-model="Rate"></p>
        <p>Time: <input type="text" ng-model="Time"></p>
        <p>Simple Interest: {{(Principle*Rate*Time)/100}}</p>
    </div>
    </body>
</html>