<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <h2>Select a Fruit:</h2>
        <select ng-model="selectedFruit">
            <option value="apple">Apple</option>
            <option value="banana">Banana</option>
            <option value="orange">Orange</option>
        </select>

        <div ng-switch="selectedFruit">
            <p ng-switch-when="apple" ng-if="selectedFruit === 'apple'" style="color: red;">You selected an apple.</p>
            <p ng-switch-when="banana" ng-if="selectedFruit === 'banana'" style="color: yellow; background-color: green;">You selected a banana.</p>
            <p ng-switch-when="orange">You selected an orange.</p>
            <p ng-switch-default>Please select a fruit.</p>
        </div>



    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.selectedFruit = ""; // Initialize the selectedFruit variable
        });
    </script>
</body>
</html>
