<!DOCTYPE html>
<html>
<head>
  <title>Grading App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="StudentController">
  <h1> Student Grade Info</h1>
  <div>

    <label for="name">Student Name:</label>
    <input type="text" id="name" ng-model="student.name">

    <div>
      <label for="age">Age:</label>
      <input type="number" id="age" ng-model="student.age">
    </div>

    <div>
      <label for="grade">Grade:</label>
      <input type="text" id="grade" ng-model="student.grade">
    </div>

    <div>
      <button ng-click="saveStudent()">Push Student Info</button>
    </div>

    <div>
      <h1>Student Grade Info</h1>
      <p>Name: {{ student.name }}</p>
      <p>Age: {{ student.age }}</p>
      <p>Grade: {{ student.grade }}</p>

    </div>

<script>
  var app = angular.module('myApp', []);
app.controller('StudentController',function($scope){
  $scope.student = {
    name: '',
    age: null,
    grade: ''
  };
  
  $scope.saveStudent = function(){
    console.log($scope.student);
  }
});
</script>

  </div>

</body>
</html>
